html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('images/snowflake.png');
  background-size: 15%;
  background-color: #d9f7f7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#keyboard-container {
  display: flex;
  gap: 1px;
  max-width: 310px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

#guess-container {
  display: flex;
  border: 2px solid #999;
  border-radius: 5px;
  max-width: 330px;
  margin: 1em auto;
  justify-content: center;
  background-color: white;
}

button.letter{
  padding: 8px;
  border: none;
  width: 32px;
  border-radius: 2px;
  background-color: #c03a2b;
  color: white;
  font-size: 1.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button.letter:hover, button.letter:focus{
  background-color: #f0c419;
  color: black;
}

button.letter:active {
  background-color: #d9f7f7;
  color: black;
}

.guess-char {
  padding: 12px 0px;
  font-size: 1.5em;
  width: 40px;
  text-align: center
}

.message {
  padding: 12px 0px;
  font-size: 1.5em;
}

.snowman-container {
  position: relative;
  width: 300px;
  margin: 2em auto 0 auto;
  height: 300px;
}

.snowman-part {
  max-width: 300px;
  position: absolute;
}

.body {
  bottom: 0;
}

.head {
  bottom: 145px
}

.nose {
  bottom: 170px;
}

.scarf {
  bottom: 50px;
}

.hat {
  bottom: 250px;
}

.arm {
  bottom: 50px
}

.sunglasses, .puddle {
  position: absolute;
}

.sunglasses {
  width: 120px;
  top: 58px;
  left: 90px;
  z-index: 2;
  visibility: hidden;
}

.puddle {
  width: 290px;
  top: 270px;
  left: 5px;
  z-index: -2
}