body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  background-color: #f9f9f9;
  background-image: url("snowybg.png");
  background-size: cover;
}

.container {
  text-align: center;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 1em 0;
  border-radius: 15px;
  font-family: "Poppins";
  color: #054787;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0 0.75em 0;
  font-family: "Caveat";
}

label,
button,
input::placeholder {
  font-family: "Poppins";
}

input::placeholder {
  font-size: 0.8em;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
  position: relative;
}

#item-input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #054787;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

button:hover,
button:focus {
  background-color: #218838;
}

button:active {
  background-color: #ffc300;
  color: black;
}

label {
  position: absolute;
  top: -10px;
  left: 10px;
  align-self: flex-start;
  margin-left: 1px;
  background-color: white;
  padding: 0 10px;
  /* border: 1px solid; */
}

#shopping-list {
  list-style: "🎁 ";
}

#shopping-list li {
  margin: 10px 0;
  border-radius: 4px;
  text-align: left;
  font-size: 1.9em;
  font-family: "Caveat";
}
