.code {
    color: #000000;
    background: #ffffff;
}

.maroon {
    color: #800000;
}

.maroon-bold {
    color: #800000;
    font-weight: bold;
}

.pesto {
    color: #808030;
}

.blue-code {
    color: #0000E6;
}

.fresh-eggplant {
    color: #800080;
}

.japanese-laurel {
    color: #008C00;
}

.chathams-blue {
    color: #0F4D75;
}

.dove-gray {
    color: #696969;
}

.waterloo {
    color: #797997;
}

.carnaby-tan {
    color: #603000;
}

.blue-ribbon {
    color: #0F69FF;
}
.indigo-code {
    color: #3F5FBF;
}

.ship-cove-bold {
    color: #7F9FBF;
    font-weight: bold;
}

.old-rose {
    color: #BB7977;
    font-weight: bold;
}

.temptress {
    color: #400000;
}

.zuccini {
    color: #074726
}