.code {
  color: #000000;
  background: #ffffff;
}

.maroon {
  color: #800000;
}

.maroon-bold {
  color: #800000;
  font-weight: bold;
}

.pesto {
  color: #808030;
}

.blue-code {
  color: #0000e6;
}

.fresh-eggplant {
  color: #800080;
}

.japanese-laurel {
  color: #008c00;
}

.chathams-blue {
  color: #0f4d75;
}

.dove-gray {
  color: #696969;
}

.waterloo {
  color: #797997;
}

.carnaby-tan {
  color: #603000;
}

.blue-ribbon {
  color: #0f69ff;
}
.indigo-code {
  color: #3f5fbf;
}

.ship-cove-bold {
  color: #7f9fbf;
  font-weight: bold;
}

.old-rose {
  color: #bb7977;
  font-weight: bold;
}

.temptress {
  color: #400000;
}

.zuccini {
  color: #074726;
}
